@import url('ui/tokens.css');
@import url('ui/icon.css');

body {
  font-family: var(--font-main);
  background-color: var(--bg-app);
  color: var(--text-primary);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.5;
}

h1,
h2,
h3 {
  font-weight: var(--font-weight-bold);
  color: var(--text-primary);
  line-height: 1.2;
  letter-spacing: -0.02em;
}
