.layout-horizontal {
  display: flex;
  align-items: center;
}

.layout-vertical {
  display: flex;
  flex-direction: column;
}

.layout-horizontal,
.layout-vertical {
  &.--gap-xs {
    gap: var(--space-xs);
  }

  &.--gap-sm {
    gap: var(--space-sm);
  }

  &.--gap-md {
    gap: var(--space-md);
  }

  &.--gap-lg {
    gap: var(--space-lg);
  }

  &.--gap-xl {
    gap: var(--space-xl);
  }

  &.--gap-2xl {
    gap: var(--space-2xl);
  }

  &.--justify-start {
    justify-content: flex-start;
  }

  &.--justify-center {
    justify-content: center;
  }

  &.--justify-end {
    justify-content: flex-end;
  }

  &.--wrap {
    flex-wrap: wrap;
  }
}
