.theme-switcher {
  --size: 32px;
  width: var(--size);
  height: var(--size);
  border-radius: var(--radius-md);
  background: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
  border: none;
  padding: 0;

  .ui-icon-wrapper {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
  }

  svg {
    width: 24px;
    height: 24px;
    display: block;
  }
}

.theme-switcher:hover {
  background: var(--bg-hover);
}
