:root {
  --color-primary-50: #ecfdf5;
  --color-primary-100: #d1fae5;
  --color-primary-200: #a7f3d0;
  --color-primary-300: #6ee7b7;
  --color-primary-400: #34d399;
  --color-primary-500: #10b981;
  --color-primary-600: #059669;
  --color-primary-700: #047857;
  --color-primary-800: #065f46;

  --color-accent-500: #3b82f6;

  --primary-gradient: linear-gradient(
    135deg,
    var(--color-primary-500),
    var(--color-accent-500)
  );

  --color-error: #ef4444;
  --color-success: #10b981;
  --color-warning: #f59e0b;

  --bg-app: #f3f4f6;
  --bg-sidebar: #e5e7eb;
  --bg-surface: #ffffff;
  --bg-input: #f9fafb;
  --bg-hover: #f3f4f6;

  --text-primary: #111827;
  --text-secondary: #4b5563;
  --text-muted: #9ca3af;
  --text-on-primary: #ffffff;

  --border-subtle: #e5e7eb;
  --border-focus: var(--color-brand-500);

  --font-main:
    'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif;
  --font-mono: 'JetBrains Mono', 'Courier New', monospace;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;

  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
}

[data-theme='dark'] {
  --bg-app: #111827;
  --bg-sidebar: #0b0f1a;
  --bg-surface: #1f2937;
  --bg-input: #374151;
  --bg-hover: #4b5563;

  --text-primary: #f9fafb;
  --text-secondary: #d1d5db;
  --text-muted: #9ca3af;
  --text-on-brand: #ffffff;

  --border-subtle: #374151;
}

/* When theme change happens */
*,
*::before,
*::after {
  transition:
    background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
