.route-profile {
  background: var(--bg-sidebar);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-md);
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--bg-sidebar);
  }

  .body {
    flex: 1;
    background: var(--bg-app);
    padding: var(--space-md) var(--space-xl);
  }
}
